/* Tag Selection */
.atbs__tabs .atbs__titles_group {
	margin-bottom: 24px;
}
.atbs__tabs .atbs__titles_group .components-button-group {
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box !important;
}

.atbs__tabs .components-button-group .components-button {
	padding: 0 !important;
	width: 100%;
	display: block !important;
	box-shadow: inset 0 0 0 1px #daebf2 !important;
}

.atbs__tabs .components-button-group .components-button.is-pressed {
	background: #39687c !important;
}
