// Input box
.atbs__inputs_group.margin_inputs .components-input-control {
	width: 50% !important;
}

.atbs__inputs_group.margin_inputs button.atlb__linked_settings.active {
	height: 30px;
	display: block;
	background: #39687c;
	border: none;
	width: 50px;
	color: #fff;
}
